*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}


/* Section 1 */

.section-1{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(255, 255, 255,0.2),
    rgba(255, 255, 255,0.2)
    ),
    url(images/bg.jpg) center
    no-repeat;
    background-size: cover;
    flex-direction: column;
    
}

.section-1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: white;
    background-color: #e41c6f;
    padding: 0 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #fff;
    margin-bottom: 5rem;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);

}

.person-img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem dotted #e41c6f;
    background-color: rgba(255, 255, 255,0.7);
    padding: 0.5rem;
    opacity: 0.9;
}

.person-name{
    font-size: 2rem;
    color: white;
    background-color: #e41c6f;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.section-1-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

/* End of Section 1 */

/* Navbar */

.navbar{
    width: 100%;
    height: 4rem;
    background-color: #e41c6f;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position: absolute;
    z-index: 300;
}

.sticky{
    position:fixed;
    top: 0;
}

.navbar-link{
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    transition: color 0.2s;
    position: relative;
}


.change.navbar-link{
    color: #fff;
}


.change.navbar-link::before{
    width: 130%;
}



.navbar-link:hover{
    color: #fff;
}

.navbar-link::before{
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position:absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.2s;

}

.navbar-link:hover::before{
    width: 130%;
}

/* Section 2 */
  
.section-2{
    width: 100%;
    height: 100%;
    padding : 15rem 0 10rem 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.progress-bars-wrapper{
    margin-bottom: 10rem;
}

.progress-bar{
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem #555;
    position: relative;
}

.progress-text{
    position: absolute;
    left:1rem;
    font-size: 1.5rem;
    color: #fff;
}

.progress-text span{
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent{
    width: 0;
    height: 100%;
    background-color: #e41c6f;
    border-radius: 0.3rem;
    transition: width 0.5s 0.5s ease-in-out;
}

.services{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service{
    text-align: center;
}


.service:first-child,
.service:last-child {
  align-self: flex-start;
}


.service i{
    font-size: 10rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2{
    font-size: 2rem;
    color: #fff;
    background-color: #777;
    width: 25rem;
    letter-spacing: 0.3rem;
    transform:skew(-10deg);
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

/* End of Section 2*/

/* Section 3 */

.section-3{
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-wrapper{
    width: 80%;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem  0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.project:hover{
    box-shadow: 1rem 1rem 1rem #777;
}


.project-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top 0.3s;
}

.project:hover .project-text{
    top: 5rem;
    transition: top 0.3s 0.3s;
}

.project-name{
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

.project-technologies{
    font-size: 1.8rem;
    color: #e41c6f;
}

.project-img{
    width: 50rem;
    transition: opacity 0.3s;
}

.project:hover .project-img{
    opacity: 0.2;
}

.project-link{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1rem;
    border: 0.3rem solid #e41c6f;
    padding: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}


.project:hover .project-link{
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
}

/* End of Section 3 */

/* Section 4*/

.section-4{
    width: 100%;
    height: 70vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}    

.section-4-heading{
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    margin-bottom:5rem;
}

.contact-form{
    width: 50rem;
    flex-direction: column;
}

.contact-form textarea{
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}


.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: 0.2rem solid #e41c6f;
    color :#555
}


.contact-form .contact-form-btn{
    background-color: #e41c6f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}

/* End of Section 4*/

/* Section 5 */

.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}

.social-media {
    margin-bottom : 5rem;
}

.social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #e41c6f;
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #fff;
}

.copyright{
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
}


/* End of Section 5 */


/* Reponsive */
@media(max-width : 1200px){
 .services{
     height: auto;
    flex-wrap: wrap;
}

 .service{
    margin: 3rem 2rem;
}  

.section-4{
    height: 80vh;
}}

@media(max-width:800px){
.section-1-heading{
    font-size: 4rem;   
}

.progress-bar{
    width: 50rem;
}}

@media(max-width : 600px){
 .section-1-heading{
  font-size: 3rem;  
 }

.navbar-link{
  margin: 0 2rem;
  font-size: 1.5rem;  
}

.section-2{
 padding: 10rem;
}

.section-2-heading{
 margin-bottom: 10rem;   
}

.progress-bar{
  width: 45rem;  
}

.project-img{
  width: 100%;  
}

.contact-form{
  width: 40rem;  
}

.copyright{
 width: 70%;
}}

@media(max-width:500px){
  html{
    font-size: 55%;
  }  
}

@media(max-width:450px){
  html{
      font-size: 45%;
  }

 .section-1-heading{
  font-size: 2.5rem;  
    
 }

 .navbar-link{
  margin: 0 1.5rem;   

 }

.section-2-heading{
    text-align: center;
}

.progress-bar{
    width: 40rem;
}

}




/*End of Responsive */